<!DOCTYPE html>
<html>


  
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hola Taller</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/theme.css">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
   <nav class="menu">
    <img src="../static/img/logo_unach_azul_sin_fondo_2.png">
    <li><lable class="title">UNIVERSIDAD AUTONOMA DE CHIAPAS</label></li>
   </nav>
</head>
<body>
   
    <div class="conteinerr general">
        <img src="../static/img/profe.avif">
        <div id="#general-form"></div>
    <form action="">
        <div class="modal-title">Acceso</div>
        <div class="row mt-5 ">
    <div class="col-12 py-2 wow fadeInUp">
        <label class="text-sm text-grey">Correo UNACH:</label>
        <input type="text" class="form-control" placeholder="Escriba su correo electronico">
      </div>
      <div class="col-12 py-2 wow fadeInRight">
        <label class="text-sm text-grey">Contraseña:</label>
        <input type="password" class="form-control" placeholder="Escriba una contraseña">
      </div>
    </div><hr />
    <button href="#" class="btn23">Ingresar</button>
</form>
</div>



<div class="page-section banner-home bg-image" style="background-image: url(../assets/img/banner-pattern.svg);">
    <div class="container py-5 py-lg-0">
      <div class="row align-items-center">
        <div class="col-lg-4 wow zoomIn">
          <div class="img-banner d-none d-lg-block">
           
          </div>
        </div>
        <div class="col-lg-8 wow fadeInRight">
        </div>
      </div>
    </div>
  </div> <!-- .banner-home -->

  <footer class="page-footer">
    <div class="container">
      <div class="row px-md-3">
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Compañia</h5>
          <ul class="footer-menu">
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Carrera</a></li>
            <li><a href="#">Proteccion</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Más</h5>
          <ul class="footer-menu">
            <li><a href="#">Términos y Condiciones</a></li>
            <li><a href="#">Privacidad</a></li>
            <li><a href="#">Anuncio</a></li>
            <li><a href="#">Únete como médicos</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Nuestro Socio</h5>
          <ul class="footer-menu">
            <li><a href="#">Ejercicios</a></li>
            <li><a href="#">Cita a domicilio</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Contacto</h5>
          <p class="footer-link mt-2">Ciprés 2000, Patria Nueva, 29045 Tuxtla Gutiérrez, Chis.</p>
          <a href="#" class="footer-link">961-198-9289</a>
          <a href="#" class="footer-link">clinica.patria@contacto.com</a>
        </div>
      </div>

      <hr>

      <p id="copyright">Copyright &copy; 2023 <a href="https://macodeid.com/" target="_blank">MACode ID</a>. Todos los derechos reservados</p>
    </div>
  </footer>
</body>

</html>